* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#h1 {
  animation-delay: 2s;
  /* animation-duration: 2s;  */
}