* {
  background-color: rgb(10, 10, 20);
}

#start {
  background-color: rgb(10, 10, 20);
  color: rgb(206, 216, 206);
  height: 1000px;
  width: 100%;
  text-align: center;
}
#start nav {
  height: 40px;
  color: rgb(8, 164, 255);
  font-size: 18px;
  text-align: right;
  font-family: roboto;
}

nav span {
  margin: 20px;
  transition: color .5s;
}

nav span:hover{
  color: rgb(255, 51, 51);
}

#start h1 {
  font-size: 4em;
  padding: 85px;
}

#logo-holder {
  width: 85%;
  margin: 0 auto;
}

#logo-holder img {
  width: 75%;
  margin: 30px;
}

#logo-holder h2 {
  font-size: 32px;
}

#building-bonds{
  /* border: 1px red solid; */
  width: 45%;
  height: 500px;
  display: inline-block;
  text-align: left;
  font-family: roboto;
}

/* FIXME: MAKE RESPONSIVE TO MOBILE SO DIVIDER BECOMES HORIZONTAL */

#divider {
  display: inline-block;
  width: 21px;
  height: 27em;
  transform: rotate(31deg);
  background-color: rgb(206, 216, 206);
  opacity: .8;
}

#breaking-bads {
  /* border: 1px red solid; */
  width: 45%;
  height: 500px;
  display: inline-block;
  text-align: right;
  /* color:#FF0008; */
  font-family: roboto;
  color: rgb(206, 216, 206);
}

#building-bonds img, #breaking-bads img {
  border: 12px red dotted;
  border-radius: 100%;
}

#more {
  height: 50px;
  display: block;
  font-family: roboto;
  margin-top: 80px;
}

#more img {
  height: 50px;
  margin: 41px;
  opacity: .7;
}