* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.main-container {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}
.item {
  height:300px;
  width: 300px;
  background-color: rgb(255, 117, 67);
  margin: 10px auto;
}

@media (min-width:576px) {
  .main-container .item {
    display: inline-block;
  }

  .main-container .item:nth-of-type(4){
    background-color: cornflowerblue;
  }
}