* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, p, ul, li {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  align-items: center;
  padding: 15px;
}

nav {
  display: flex;
  width: 70%;
  height: auto;
  margin: 10px;
  justify-content: space-around;
}

li {
  display: inline-block;
}

ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.headshot {
  display: none;
}

.quote {
  display: flex;
  flex-direction: column;
  height: 450px;
  padding: 0 30px;
  background: whitesmoke;
  align-items: center;
  justify-content: center;
}

.quote-text {
  font-size: 2.5em;
}

.quote-caption {
  font-size: 1em;
  margin-top: 20px;
}

main {
  display: flex;
  flex-direction: column;
  background: black;
  align-items: center;
  justify-content: space-around;
}

.project-container {
  height: 450px;
  margin: 23px;
  width: 90%;
  background-color: aliceblue;
}

footer {
  display: flex;
  height: 100px;
  padding: 0 20px;
  background: grey;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .footer-nav {
  display: flex;
  width: 100%;
  height: 40%;
  align-items: center;
} */

.footer-social {
  display: flex;
  width:70%;
  height: 40%;
  justify-content: space-around;
  align-items: center;
  /* border: 1px blue solid; */
}

.footer-social img {
  height: 80%;
}


@media(min-width:768px) {
  
  .quote {
    justify-content: space-around;
  }

  .headshot {
    display: flex;
    /* border: 1px red solid; */
    width: 70%;
    justify-content: center;
    border-bottom: 1px grey solid;
    padding-bottom: 40px;
  }

  .quote-section {
    text-align: center;
  }

  .headshot-img {
    height: 100px;
    margin: 0 40px 0 0px;
  }
  
  .quote-text {
    text-align: center;
  }

  
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .project-container {
    width: 44%;
    max-width: 400px;
    height: 350px;
  }

  footer {
    flex-direction: row;
  }

  .footer-nav {
    width: 40%;
}

.footer-social {
  width: 50%;
  height:50%;
  }
}