* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: rgb(55, 55, 100);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-over {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 160px;
  background-color: white;
  height: 259px;
  width: 480px;
  align-items: center;
  border-radius: 30px;
  box-shadow: 2px 2px 5px #333;
}

.play-again:hover{
  color: #333;
  cursor: pointer;
}

.game-grid {
  margin-top: 50px;
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}


.box {
  width: 32%;
  height: 33%;
  display: flex;
  transition: 500ms;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
}

.box:hover{
  background-color: rgb(250,250,250, .3);
}

.box-1, .box-4, .box-7 {
  border-right: 4px chartreuse solid;
}
.box-2, .box-5, .box-8 {
  border-right: 4px chartreuse solid;
}
.box-4, .box-5, .box-6 {
  border-top: 4px chartreuse solid;
}
.box-7, .box-8, .box-9 {
  border-top: 4px chartreuse solid;
}

.X {
  background-color: rgba(127, 255, 0, .6);
  pointer-events: none !important;
}

.O {
  background-color: rgb(147, 147, 248);
  pointer-events: none !important;
}

.scoreboard {
  margin-top: 40px;
}
.player {
  transition: color 300ms 1s,                     font-size 2s,
              transform 2s;
}
.player-1 {
  color: white;
  background-color: rgba(127, 255, 0, .6)
}

.player-active {
  color: white;
  text-shadow: 1px 1px 3px #343
}

.player-2 {

  background-color: rgb(147, 147, 248);
}

.scoreboard {
  display: flex;
  width:100%;
  justify-content:center;
  margin-bottom: 100px;
}

.player-display {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  padding: 0px 50px;
  border-radius: 20px;
  text-shadow: 1px 1px 3px #343;
}