.first {
  height: 167px;
  padding: 44px;
  margin: 10px 28px 18px 23px;
  background-color: rgb(187, 0, 0);
  box-sizing: border-box;
  width: 500px;
  border: aqua 20px solid;
}

.column, .row {
  height: 100%;
  width: 100%;
  border: 1px solid blueviolet;
}

.row {
  border: 1px solid goldenrod;
}

.item  {
  height: 100px;
  margin: 10px;
  background-color: rgb(145, 54, 54);
}

.row .item {
  display: inline-block;
  width: 100px;
}