:root {
  --my-white: rgb(233, 236, 240);
  --sidebar-header: rgb(3, 47, 87);
  --my-white-blue: rgb(206, 216, 236);
  --sidebar-main: rgb(5, 62, 114);
}

*{
  box-sizing: border-box;
  /* border: 1px red solid; */
}

h3 {
  margin-block-start: 0;
  padding: 5px 0px 5px 10px;
}

h4 {
  margin-block-start: 15px;
  margin-block-end: 0;
}

h5 {
  margin-block-start: 0.3em;
  margin-block-end: 0em;
}

ul {
  padding-inline-start: 20px;
}

.main-section {
  width: 100%;
  height: 1200px;;
}

.header {
  width: 100%;
  height: 25%;
  padding: 1px 0px 0px 24px;
  background-color: var(--sidebar-header);
  color: rgb(233, 236, 240);
}

.headshot {
  border-radius: 50%;
  float:right;
  margin-right: 9%;
  margin-top: 1%;
  height: 92%;
}

.greeting-text {
  background-color: var(--my-white);
  margin-block-start: 0;
  display: flex;
  margin: auto;
  padding: 0 12px 0 12px;
}

.greeting-text p {
  margin: auto;
  text-align: center;
}

.section-header {
  background-color: var(--my-gray);
  height: 28px;
  color: var(--my-white);
}

.section-header img {
  height: 15px;
  display: inline-block;
}

.experience-column h3 {
  display: inline-block;
}

.experience-column .section-header {
  color: black;
  border-bottom: 1px gray solid;  
  height: 35px;
}

.personal-column {
  /* background-color: aqua; */
  float:right;
  height: 60%;
  width: 30%;
  color: rgb(206, 216, 236);
  background-color: var(--sidebar-main);
}

.personal-column li {
  list-style: none;
  padding-left: 10px;
}

.personal-column ul {
  padding-inline-start: 0;
}

.personal-column h3 {
  background-color: var(--sidebar-header);
  color: var(--my-white);
}

.resume {
  width: 80%;
  margin: 0 auto;
}

.contact-block {
  display: inline-block;
  /* border: 1px red solid; */
}

.greeting-text {
  height: 150px;
  /* border: 1px red solid; */
}

.experience-column{
  /* background-color: rgba(0, 0, 255, 0.26); */
  float: left;
  height:60%;
  width:70%;
}

.job-holder {
  height: 25%;
  /* border: 1px red solid; */
}

.education-holder {
  height: 25%;
}

.certification-holder {
  height: 5%;
  display:flex;
  margin: auto;
  /* border: 1px red solid; */
}

.dates, .certification-info {
  margin: auto;
}

.certification-date {
  display: flex;
}

.job-dates, .education-dates, .certification-date {
  float:left;
  height:85%;
  width: 30%;
  text-align: center;
  margin: auto;
  /* background-color: blueviolet; */
}

.job-dates, .education-dates {
  display: flex;
  margin: auto; 
}

.dates {
  margin: auto;
}

.job-info, .education-info, .certification-info {
  float: right;
  width: 70%;
  /* background-color: aquamarine; */
}

/* TODO: YOU MAY WANT TO GET RID OF PADDING AND USE PADDING ON INDIVIDUAL SECTIONS. CREATE DIVS AROUND EVERY H3 */

.social {
  height: 22%;
  /* background-color: burlywood; */
}

.skill-container {
  padding: 0px 0px 0px 12px;
}

.skill-container h6 {
  margin-block-start: 10px;
  margin-block-end: 0;
  padding-right: 42px;
}

.skills {
  height: 27%;
}

.skill-bar {
  background-color: var(--my-white);
  width: 75%;
  height: 12px;  
}

.skill {
  background-color: var(--sidebar-header);
  display: inline-block;
  height: 100%;
}

#greek {
  width:85%;
}

#art {
  width:70%;
}

#roman {
  width: 50%;
}

h6 {
  text-align: right;
}

.certifications .section-header {
  display: block;
  margin: 0;
  text-align: left;
}