
.main-wrapper {
  padding:50px;
  border: 1px blueviolet solid;

}

.game-header {
  height: 200px;
  border:1px red solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: continuo, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 30px 0;
}

.game-header h1 {
  font-size: 4.6em;
  letter-spacing: 11px;
}

.game-description {
  padding:20px;
  border: 1px red solid;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  border: 1px red solid;
}

.game-display {
  height: 500px;
  border: 1px red solid;
  perspective: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  overflow:hidden;
  background-image: url(./img/clean-house.jpg);
  background-size: cover;
  background-position: center;
  width: 80%;

}

.game-stats {
  border: 1px red solid;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
}

.stat-col-left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px blue solid;
}

.game-stat-section, .yardsale-section {
  display: flex;
  border: 1px black solid;
}

.health-header, .yardsale {
  display: flex;
  border: 1px red solid;
  padding: 0px 20px;
}

.yardsale {
  background-color: hsl(120, 61%, 80%);
  font-style: italic;
  color: rgba(0,0,0,.4);
  border-radius: 10px;
}

.yardsale.active {
  background-color: hsl(120, 61%, 50%);
  font-style: normal;
  color: rgba(0,0,0,1)
}

.yardsale.active:hover {
  cursor: pointer;
}

.health-display {
  display: flex;
  border: 1px blue solid;
  padding: 0px 20px;
}

.score-section, .money-section {
  display: flex;
  border: 1px black solid;
}

.score-header, .money-header {
  display: flex;
  border: 1px red solid;
  padding: 0px 20px;
}

.score-display {
  display: flex;
  border: 1px blue solid;
  padding: 0px 20px;
}

.stat-col-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px blue solid;
  justify-content: center;
  align-items: center;
}

.clutter-box {
  height: 100px;
  width: 100px;
  background-color: green;
  background-size: cover;
  cursor: grab;
}

.falling {
  animation-name: falling;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  /* animation-fill-mode: both; */
}

/* creates position classes to ba assigned via js */

.position-1 {
  grid-column: 1/2;
}
.position-2 {
  grid-column: 2/3;
}
.position-3 {
  grid-column: 3/4;
}
.position-4 {
  grid-column: 4/5;
}
.position-5 {
  grid-column: 5/6;
}
.position-6 {
  grid-column: 6/7;
}
.position-7 {
  grid-column: 7/8;
}
.position-8 {
  grid-column: 8/9;
}
.position-9 {
  grid-column: 9/10;
}
.position-10 {
  grid-column: 10/11;
}
.position-11 {
  grid-column: 11/12;
}
.position-12 {
  grid-column: 12/13;
}
.position-13 {
  grid-column: 13/14;
}

/* Creates color classes for JS */

.coral {
  background-image: url('./img/clutter.jpeg');
}
.dark-olive-green {
  background-image: url(./img/old-clothes.webp);
}
.dim-grey {
  background-color: dimgrey;
}

@keyframes falling {
  0%{
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(500px) rotate(1000deg);
  }
}