/* Mobile First see media queries for Tablet and Desktop */


/* VARIABLES FOR COLOR GRADIANTS */
:root {
  --green-radiant: linear-gradient(to top, #2ec0ab, #2fc4ae, #30c8b2, #31ccb5, #32d0b9);
  --gray-gradiant: linear-gradient(to top, #618395, #668699, #6b8a9d, #708da1, #7591a5);
  --red-gradiant: linear-gradient(to top, #e46e6f, #e57273, #e67778, #e67b7c, #e77f80);
  --blue-gradiant: background-image: linear-gradient(to top, #1fc2d0, #20c7d5, #22cbda, #23d0df, #24d5e4);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: gray;
}

h2 {
  margin-block-end: 0;
  margin-block-start: 0;
}

p {
  line-height: 1.4em;
  margin-block-start: 0.5em;
  margin-block-end: 0;
}

.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5% 5% 90%;
  grid-template-areas: 
    "header-1 header-2"
    "nav nav"
    "dash dash"
}

.header-1 {
  grid-area: header-1;
  background-color: aquamarine;
  display: flex;
}

.header-2 {
  grid-area: header-2;
  background-color: beige;
  display: flex;
}

.nav {
  grid-area: nav;
  background-color: blue;
  display: flex;
}

.dash {
  grid-area: dash;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  height:110%;
  justify-content: space-around;
  /* overflow: visible; */
}

.widget {
  display: grid;
  grid-template-columns: 30% 1fr 1fr;
  grid-template-rows: 70% 1fr;
  height: 200px;
  width: 90%;
  justify-content: center;
  margin-top: 10px;
}

.box-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: var(--green-radiant);
  display:flex;
  align-items: center;
  justify-content: center;
}

.box-1 img {
  opacity: 0.8;
  height: 30px;
}

.box-2 {
  grid-column: 2/4;
  grid-row: 1/2;
  flex-direction: column;
  background-color: rgb(255,255,255);
  color: rgb(162,167,178);
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.box-3 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: var(--green-radiant);
}

.box-4 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-image: var(--gray-gradiant);
}

.box-5 {
  grid-column: 3/4;
  grid-row: 2/3;
  background-image: var(--red-gradiant);
}

/* SYMBOLS INSIDE WIDGET BOXES */
.box-3, .box-4, .box-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:3em;
  color: rgba(255, 255, 255, 0.603);
}


/* INDIVIDUAL WIDGET STYLING  */

.programming .box-1 {
  background-image: var(--gray-gradiant);
}

.orders .box-1 {
  background-image: var(--red-gradiant);
}

.web-design .box-1 {
  background-image: linear-gradient(to top, #1fc2d0, #20c7d5, #22cbda, #23d0df, #24d5e4);
}

.calendar {
  height: 350px;
}

.stats {
  height: 400px;
}


/* Tablet View */

@media (min-width: 768px) {
  body {
    width: 100%;
  }

  .top-dash {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .widget {
    display: flex;
    height: 180px;
    width: 100%;
    border: 1px red solid;
    justify-content: center;
    margin-top: 10px;
  }

  .top-dash .widget {
    width: 40%;
    height: 250px;
    overflow: hidden;
  }

  .middle-dash {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .middle-dash .widget {
    width: 80%;
  }

  .middle-dash img {
    width: 100%;
  }

  .bottom-dash {
    display: flex;
    flex-direction: column;
  }

  .bottom-dash .widget {
    height: 500px;
  }

  .bottom-dash .stats {
    height: 650px;
  }
  
  section{
    margin-top: 40px;
  }
}

/* Desktop View */

@media(min-width: 992px) {
  /* REFORMS GRID LAYOUT TO CREATE ASIDE BAR */
  .grid-container {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 5% 5% 1fr;
    grid-template-areas: 
      "header-1 header-1 header-2"
      "aside nav nav"
      "aside dash dash"
  }
  .aside {
    background-color:green;
    grid-area: aside;
  }

  .top-dash .widget {
    width: 20%;
    height: 250px;
    overflow: hidden;
  }

  .middle-dash {
    flex-direction: row;
  }

  .bottom-dash {
    width:100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .bottom-dash .widget {
    width: 359px;
    height: 402px;
    overflow: hidden;
  }
}